<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55032534024-4t5jsd829t7805rdr91vlfr28g7ei9pr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55032534024-4t5jsd829t7805rdr91vlfr28g7ei9pr</string>
	<key>API_KEY</key>
	<string>AIzaSyC-aJ4QNTG440M6BstldshPFaXV5Phoqgg</string>
	<key>GCM_SENDER_ID</key>
	<string>55032534024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ro.cornelpostolache.BrowHaus</string>
	<key>PROJECT_ID</key>
	<string>browhaus-7beeb</string>
	<key>STORAGE_BUCKET</key>
	<string>browhaus-7beeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55032534024:ios:89e48d414816ef4915edbd</string>
</dict>
</plist>